.vid-block {
  display: flex;
  flex-direction: column-reverse;
  margin: 1rem;
  position: relative;
  width: 80%;
  border: 1px solid red;
}

.vid {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.vid-info {
  position: absolute;
  background-color: transparent;
  color: white;
  z-index: 100px;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px) contrast(0.8);
  display: none;
}
.vid-block:hover .vid-info {
  display: block;
}
.vid-info a {
  color: white;
  font-size: 24px;
}
.vid-inner {
  padding: 1.5rem;
}

@media (max-width: 900px) {
  .vid-block {
    width: 90%;
  }
}
